<h1>Booking</h1>

<div class="booking-body">

  <% if @bookings.empty? %>
    <h3 class="text-center">No Bookings</h3>
    <% else %>

  <ul>
    <% @bookings.each do |booking| %>
      <li class="list-unstyled">
        <div class="border d-flex flex-column w-50 align-items-center my-4 p-3">
          <p><strong>Booked by: </strong><%= booking.user.email %></p>
          <p><strong>Booked event: </strong><%= booking.event.title%></p>
          <p><strong>Owned by: </strong><%= booking.event.user.email %></p>
          <p><strong>Date: </strong><%= booking.event.date.strftime("%d-%m-%Y") %></p>
          <p><strong>Time: </strong><%= booking.event.time.strftime("%I:%M%p")%></p> 
        </div>
      </li>
    <% end %>  
  </ul>
  <% end %>
</div>
