<h1 class="text-center my-3">Booking</h1>
<p class="text-center my-1 booking-event__title"><%= @event.title %></p>
<p class="text-center my-1 booking-event__description"><%= @event.description %></p>
<p class="text-center my-1 booking-event__date"><%= @event.date.strftime("%d-%m-%Y")%></p>
<p class="text-center my-1 booking-event__time"><%= @event.time.strftime("%I:%M%p") %></p>


<%= simple_form_for [@event, @booking] do |f| %>
  <%= f.button :submit %>
<% end %>