<div class="booking-new-card">
  <h1>Booking</h1>
  <p class="booking-event-title"><strong><%= @event.title %></strong></p>
  <p class="booking-event-description">Description: <%= @event.description %></p>
  <p class="booking-event-date">Date: <%= @event.starts_at.strftime("%d-%m-%Y")%></p>
  <p class="booking-event-time">Time: <%= @event.starts_at.strftime("%I:%M%p")%></p>

  <%= simple_form_for [@event, @booking] do |f| %>
    <%= f.button :submit, 'Join The Game', :class => "create" %>
  <% end %>
</div>