<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dqpzva5cw/image/upload/v1615845185/Logo-new1_uxvguk.png" %>
      <% end %>
    

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <i class="fas fa-home"></i><%= link_to "Home", root_path, class: "fas fa-home", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <i class="fas fa-search"></i><%= link_to 'Find Sports', events_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <i class="fas fa-plus"></i><%= link_to 'Add Game', new_event_path,class: "nav-link" %>
            </li>
            <li class="nav-item">
              <i class="fas fa-tachometer-alt"></i><%= link_to 'Dashboard', dashboards_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item dropdown" >
                <% active_notification = current_user.notifications_count >= 1 ? "active" : ""   %>
                <%= link_to notifications_path, class: "nav-link  #{active_notification}", id:"notification-bell" , data: { toggle: "dropdown", action: "click->notifications#markAsRead", notifications_target: "alert" }, 'aria-haspopup': true, 'aria-expanded': false do %>

                  <div class="notify-dot"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                      <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                    </svg>
                <% end %>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <div class="notification-cards">
                  <% if current_user.notifications.count == 0 %>
                    <p>No messages</p>
                  <% else %>
                    <% Notification.where(recipient: current_user).each do |n| %>
                      <%= render "notifications/notification", notification: n %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %> 
              <% else %>
                <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Dashboard", dashboards_path, class: "dropdown-item" %>
                <%= link_to "Profile", edit_profile_path(current_user.id), class: "dropdown-item" %>
                <%= link_to "Setting", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
  </div>
</div>
