<div class="container">
	<h1 class="text-center mt-3">Find your events</h1>
	<div class="container d-flex flex-wrap my-5">
		<% @events.each do |event| %>
			<div class="d-flex flex-column m-2">
				<%= event.title %>
				<%= event.starts_at %>
				<%= link_to 'Show event', event_path(event)%>
			</div>
		<% end %>
	</div>
	<%= link_to 'Add event', new_event_path %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>