<div class="event_container">
		<div class="container event_inside_container">
			<%= render 'shared/search_bar' %>
			<h3><%= @events.size %> results found</h3>
			<div class="events__container">
				<div class="events-cards">
					<% @events.each do |event| %>
						<%= render 'shared/event_card', event: event %>
					<% end %>
				</div>
				<div id="map"
				style="width: 50%; height: 650px;"
				data-markers="<%= @markers.to_json %>"
				data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
			</div>
	</div>
</div>
