<div class="show-event__container">
  <div class="container my-3">
    <div class="main__container">
      <div class="event-image__container">
        <% if @event.photo.attached? %>
            <%= cl_image_tag @event.photo.key %>
        <% else %>
          <%= cl_image_tag('https://cdn.pixabay.com/photo/2017/07/02/19/24/dumbbells-2465478_960_720.jpg') %>
        <% end %>
      </div>
      <% if @event.user.photo.attached? %>
        <div class="user-image__container">
              <%= cl_image_tag @event.user.photo.key%>
        </div>
      <% end %>
      <div class="event-body__container">
        <div class="event__card">
          <h2 class="text-center"><%= @event.title %></h2>
          <div class="info">
            <p><span>Description</span></p>
            <p><%= @event.description %></p>
          </div>
          <div class="info-container">
            <div class="info">
              <p><span>Starts</span></p>
              <p><%= @event.starts_at.strftime("%d-%m-%Y")%> <%= @event.starts_at.strftime("%I:%M%p") %></p>
            </div>
            <div class="info">
              <p><span>Duration</span></p>
              <p><%= @event.duration %> hours</p>
            </div>
          </div>
          <div class="info-container">
            <div class="info">
              <p><span>Sport</span></p>
              <p><%= @event.sport %></p>
            </div>
            <div class="info">
              <p><span>Skill Level</span></p>
              <p><%= @event.skill_level %></p>
            </div>
          </div>
          <% unless @event.private.nil? || @event.private.empty? %>
            <div class="info">
              <p><span>Private</span></p>
              <p><%= @event.private %></p>
            </div>
          <% end %>
          <div class="info">
            <p><span>Location</span></p>
            <p><%= @event.location %></p>      
          </div>
          <div class="info">
            <p><span>Organiser</span></p>
            <p><%= @event.user.email.split("@").first.capitalize %></p>
          </div>
          <div class="info">
            <p><span>Maximum Participants</span></p>
            <p><%= @event.number_of_participants %></p>
          </div>
          <div class="info-container">
            <div class="info">
              <p><span>Bookings</span></p>
              <p>
                <%= @event.number_of_participants == @bookings.size ? 'Fully Booked' : "#{@event.number_of_participants - @bookings.size} left"%> 
              </p>
            </div>
            <div class="participants">
              <% unless @bookings.empty? %>
                <% @bookings.each do |booking| %>
                  <%= cl_image_tag(booking.user.photo.key) if booking.user.photo.attached? %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="info-container">
            <% unless current_user == @event.user %>
              <% unless @fully_booked %>
                <% if Booking.where(event: @event, user: current_user).empty? %>
                  <%= link_to "Join", event_bookings_path(@event), method: :post, class: "btn btn-success rounded-pill" %>
                <% else %>
                  <%= link_to "Unjoin", booking_path(Booking.where(event: @event, user: current_user).first), method: :delete, class: "btn btn-danger rounded-pill"  %>
                <% end %>
              <% end %> 
            <% else %> 
              <%= link_to "Edit Event", edit_event_path %>
              <%= link_to "Delete Event", event_path(@event), :confirm => "Are you sure?", :method => :delete %>
            <% end %>
          </div>
        </div>
      </div>  
      <% if current_user == @event.user || !Booking.where(event: @event, user: current_user).empty? %>          
        <div class="message-body__container">
          <div class="messages-container">
            <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
              <% @chatroom.messages.each do |message| %>
                <div class="message__container" id="message-<%= message.id %>">
                  <i class="author">
                    <span><%= message.user.email.split("@").first.upcase %></span>
                    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                  </i>
                  <p><%= message.content %></p>
                </div>
              <% end %>
              <%= simple_form_for [ @chatroom, @message ] do |f| %>
                <%= f.input :content, label: false, placeholder: "Type your message" %>
                <%= f.button :submit, class: "btn btn-primary rounded" %>
              <% end %>
            </div>
          </div>
          
        </div> 
      <% end %>
    </div>
  </div>
</div>


