
<h3 class="booking-event-title"><strong><%= @event.title %></strong></h3>
<p class="booking-event-description"><%= @event.description %></p>
<p class="booking-event-date"><%= @event.starts_at.strftime("%d-%m-%Y")%></p>
<p class="booking-event-date"><%= @event.starts_at.strftime("%I:%M%p")%></p>
<p><strong>Participants: </strong>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.user.email %></p></li>
  <% end %>
</ul>

<% unless current_user == @event.user %>
  <%= link_to 'Join Game', new_event_booking_path(@event) %>
<% else %>
  <%= link_to "Edit Event", edit_event_path %>
  <%= link_to "Delete Event", event_path(@event), :confirm => "Are you sure?", :method => :delete %>
<% end %>

<div class="container">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.email %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message" %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>