<div class="banner">
  <div class="container">
    <div class="landing-page">
    </div>
    <div class="heading-container">
      <div class="heading">
          <h1>Social Games</h1>
          <p class="text-muted">Best platform to search your next game</p>
          <%=  link_to 'Find Sports', events_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>
<div class="landing-card__container">
  <h2 class="text-center">What we offer</h2>
  <div class="cards">
    <div class="card">
      <%= image_tag 'credit-card.png' %>
      <h4>No Credit Card</h4>
      <p>You don't need a credit card to use this platform</p>
    </div>
    <div class="card">
      <%= image_tag 'handshake.png' %>
      <h4>No Commitments</h4>
      <p>Join a game whenever you are available</p>
    </div>
    <div class="card" style="display:none">
      <%= image_tag 'fireworks.png' %>
      <h4>1000+ Events</h4>
      <p>1000s of events around you with easy to join feature</p>
    </div>
    <div class="card">
      <%= image_tag 'medal.png' %>
      <h4>Earn Rewards</h4>
      <p>Get rewarded for being physically active and social</p>
    </div>
  </div>
</div>