<div class="container">
  <div class="row py-5 bg-primary">
    <div class="col-12 d-flex align-items-center">
      <div class="dashboard-user-img__container">
        <% if current_user.photo.attached? %>
          <%= image_tag current_user.photo.key %>
        <% else %>
          <%= image_tag 'profile-picture.png'%>
        <% end %>
      </div>
      <div class="dashboard-user-info__container">
        <p>Welcome back, <%= current_user.name %></p>
        <p>Get excited to create or join events</p>
      </div>
      <div class="dashboard-user-info__container">
        <h2 class="text-center">My Badge</h2>
        <div class="d-flex flex-column align-items-center">
          <% unless current_user.badges.empty? %>
            <% current_user.badges.last.name %>
            <%= cl_image_tag current_user.badges.last.custom_fields[:image_url], width: "75px" %>
            <%= current_user.badges.last.description %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





<!---
<div class="container d-flex my-5">
  <div class="w-50 mt-3">
    <h2 class="text-center">My Games</h2>
    <div class="d-flex flex-column align-items-center">
      <% @events.each do |event| %>
        <h4>
          <%= link_to event.title, event_path(event.id) %>
        </h4>
        <p><%= event.location %></p>
        <p><%= event.starts_at.strftime("%A, %d %b %Y at %I:%M%p") %></p>
        <p>Duration: <%= event.duration %> hours</p>
        <p><%= event.sport %></p>
        <p>Participants: <%= event.number_of_participants %></p>
        <p><%= event.description %></p>
      <% end %>
    </div>
  </div>
  <div class="w-50 mt-3">
    <h2 class="text-center">My Joined Games</h2>
    <div class="d-flex flex-column align-items-center">
      <% if @bookings.empty? %>
        <h2 class="no-booking-text">No Bookings</h2>
      <% else %>
        <% @bookings.each do |booking| %>
          <div class="p-3 my-3 border">
            <p><strong>Booked by: </strong><%= booking.user.email.split("@").first.capitalize  %></p>
            <p><strong>Booked event: </strong><%= booking.event.title%></p>
            <p><strong>Organiser: </strong><%= booking.event.user.email.split("@").first.capitalize  %></p>
            <p><strong>Date: </strong><%= booking.event.starts_at.strftime("%d-%m-%Y") %></p>
            <p><strong>Time: </strong><%= booking.event.starts_at.strftime("%I:%M%p") %></p>
            <div class="d-flex justify-content-between">
              <%= link_to 'Delete', booking_path(booking.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger", reload: true %>
              <%= link_to 'Show', event_path(booking.event), class: "btn btn-success", reload: true %>
            </div>
          </div>
        <% end %>  
      <% end %>
    </div>
    <div class="w-50 mt-3">
      <h2 class="text-center">My Badges</h2>
      <div class="d-flex flex-column align-items-center">
        <% current_user.badges.each do |badge| %>
          <%= badge.name %>
          <%= cl_image_tag badge.custom_fields[:image_url], width: "75px" %>
          <%= badge.description %>
        <% end %>
      </div>
  </div>
</div>

->